/*main*/

.first_font {
	font: 13px/18px Arial, Tahoma, sans-serif;
}

.first_color {
	background: #BF0028!important;
}
.second_color {
	background: #BBB!important;
}

.warning_color {
    background-color: #FBEEC0 !important
}


.first_text_color{
	color: #000!important;
}
.second_text_color {
	color: #FFF!important;
}
.third_text_color {
	color: #BF0028!important;
}

.first_frames_border {
	border: solid 1px #BBB;
}
.second_frames_border {
	border: solid 1px #E6E6E6;
}

.background_color {
	background-color: #FFF;
}

.url_color { 
	color: #2873b6;
}

/*height*/
.widgets_height {
	height: 28px;
}

.header_height {
	height: 33px;
}

.block_height {
	min-height: 33px;
}

/*work_area*/

.header_color {
	background: #BF0028 url(../images/caption.png) repeat-x;
}

.header_line_height {
	line-height: 34px;
}
.header_font_size {
	font-size: 15px;
}
.work_area_width {
	width: 1070px;
}

/*messages*/

.background_overlay_color {
	  background-color: #FFF;
}

.message_box_load{
    border: 2px solid #ccc;
    background-color: #f3f3f3;
}

.message_overlay_load_color {
    background-color: #f3f3f3;
}


/*error*/

.error_color {
	border-color: #E50029 !important;
	background-color: #FAD2D2 !important;
}

/*widgets*/

.widgets_header_float {
	display: table-cell;
}

.widgets_body_float {
	display: table-cell;
}

.widgets_color {
	background-color: #E7F0F5;
}

.widgets_color:disabled {
	background-color: #E7F0F5;
}
.widgets_label_color_disabled {
	color: #666666;
}
.widgets_font { 
	font: bold 16px/28px Arial, Tahoma, sans-serif;
}

.jq-radio.checked .jq-radio__div {
	background: #E4032E !important;
}

.jq-checkbox.checked .jq-checkbox__div {
	background: #E4032E !important;
}

.downarrow_color {
	background-color: rgba(231, 240, 245, 1);
}
.downarrow_size {
	size: 8px;
}

.background_overlay_trans {
	background-color: rgba(255, 255, 255, 0.7) !important;

}

/*messages*/

.messages_color {
	background: #f3f3f3;
}
.messages_border {
	border: 2px solid #BBB;
}
.error_border {
	 border: 2px solid #E50029;
}

.message_box_form_loading:before {
	content: "Loading";
}
.message_box_form_loading{
    width: 470px;
    top: 50%;
    left: 55%;
    margin-top: -9em;
    margin-left: -20em;
    padding: 20px;
    font-size: 18px;
	font: bold 13px/18px Arial, Tahoma, sans-serif;
    font-size: 18px;
}

.message_box_load:before {
	content: "Loading";
}
.message_box_load{
    border: 2px solid #ccc;
    font-size: 18px;
    width: 470px;
    top: 50%;
    left: 50%;
    margin-top: -9em;
    margin-left: -20em;
    padding: 20px;
	font: bold 13px/18px Arial, Tahoma, sans-serif;
    font-size: 18px;
}


.message_box_wait:before {
	content: "Loading";
}
.message_box_wait{
    width: 470px;
    top: 50%;
    left: 50%;
    margin-top: -9em;
    margin-left: -20em;
    padding: 20px;
	font: bold 13px/18px Arial, Tahoma, sans-serif;
    font-size: 18px;
}

.message_overlay_loading:before {
	content: "Loading";
}

/*buttons*/
.buttons_color {
	background: #BBB;
}

.buttons_height {
	height: 32px;
}

.buttons_width {
	width: 98px;
}

.group_bar{
	display: block !important;
/*	top: 79 !important; */
}
